<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <!--CREATING THE INFO-->
    <h1>Employee directory</h1>
    <div class="container border my-2">
    <h4>Create new User</h4>
    <form action="/createUser" method="POST">
        <input type="text" placeholder="empName" name="empName" />
        <input type="text" placeholder="empID" name="empID" />
        <button type="submit">Submit</button>
    </form>
</div>
    <!--UPDATING THE INFO-->
    <div class="container border my-2">
        <h4>Updating the info</h4>
        <form>
        <input id="update-empName" type="text" placeholder="empName" name="empName" />
        <input id="update-newEmpName" type="text" placeholder="New Employee Name" name="newEmpName" />
        <input id="update-newEmpID" type="number" placeholder="New Employee ID" name="newEmpID" />
            <button id="update-button">Update</button>
        </form>
    </div>
    <!--DELETING THE INFO-->
    <div class="container border my-2">
        <h4>Deleting the info</h4>
        <form>
            <input id="delete-empName" type="text" placeholder="empName" name="empName" />
            <button id="delete-button"> Delete</button>
        </form>
    </div>

    <script src="/main.js"></script>
</body>


</html>

